
   table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    margin: auto;
    margin-top: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  th, td {
    padding: 1em;
    background: rgb(238, 176, 176);
    border-bottom: 1px solid white; 
  }
  body {
    margin: 1em;
  }