.score{
    height: auto;
    width: 50%;
    background-color: rgb(197, 207, 47);
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 10px;
    
}
.result{
    height: auto;
    width: 40%;
    text-align: center;
    padding-top: 4px ;
    font-size: 25px;
    border-radius: 5px;
    margin: auto;
    background-color: #4b9e13;
    opacity: .5;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.messege{
    font-size: 25px; 
    padding-top: 2px;
    font-weight: 500;
    color: blue;
}
.text{
    padding-top: 4px;
}
